<%- include('partials/header') %>

<section class="section">
  <div class="container">
    <%- include('partials/breadcrumb') %>
    <h2>Diensten</h2>
    <p class="sub-title">Onze diensten op een rijtje.</p>

    <p><strong>Door onze ruime ervaring in de zorg zijn wij snel inzetbaar. Dat kan zijn voor vragenstukken als functiewaardering, functiebeschrijving, werving en selectie recruitment maar ook voor projecten.</strong></p>
    <p>Bij CareHr is ook expertise op het gebied van loopbaanontwikkeling, competentie- management en duurzame inzetbaarheid. Wij kiezen voor een projectmatige aanpak.</p>
  </div>
</section>

<% services.forEach((service, index) => { %>
  <section class="section <%= index % 2 === 0 ? 'section--odd' : '' %>" id="<%= service.id %>">
    <div class="container">
      <div class="info-section <%= index % 2 === 0 ? 'info-section--odd' : '' %>">

        <div class="info-section__illustration">
          <div class="display-icon">
            <i class="far fa-<%= service.icon %>"></i>
          </div>
        </div>

        <div class="info-section__info">
          <div class="service__content">
            <h3><%= service.title %></h3>
            <%- service.description %>
          </div>
          <a class="icon-with-text" href="#contact">
            <i class="fas fa-angle-down"></i>Neem contact op
          </a>
        </div>
      </div>
    </div>
  </section>
<% }) %>

<%- include('partials/footer') %>
