<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="<%= tagLine %>">
     <link rel="icon" href="favicon.png" type="image/x-icon" />
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">
    <%- '<style>' + css + '</style>' %>
    <script src="<%= jsPath %>"></script>
  </head>
  <body>
    <header class="section section--header section--odd">
      <div class="container">
        <div class="title-container">
          <a href="index.html" class="title-link">
            <h1 class="title">Care<span class="title__postfix">HR</span></h1>
          </a>
          <span class="headline"><%= tagLine %></span>
        </div>
      </div>
    </header>
