<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%- tagLine %>">
    <meta property="og:title" content="<%- title %>">
    <meta property="og:description" content="<%- tagLine %>">
    <meta property="og:image" content="https://carehr.nl/img/share-image.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="580">
    <meta property="og:image:height" content="450">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Rubik" rel="stylesheet">
    <%- '<style>' + css + '</style>' %>
    <script src="<%= jsPath %>"></script>
  </head>
  <body>
    <header class="section section--header section--odd">
      <div class="container">
        <div class="title-container">
          <a href="<%= baseUrl %>" class="title-link">
            <h1 class="title">Care<span class="title__postfix">HR</span></h1>
          </a>
          <span class="headline"><%= tagLine %></span>
        </div>
      </div>
    </header>
